body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}
/* Transicion de color */
.item {
  background-color: tomato;
  width: 200px;
  height: 200px;
  transition-property: background-color;
  transition-duration: 3000ms;
  transition-timing-function: linear(
    -0.25 -6.02%,
    0.28 -29.6%,
    -0.21 77.35%,
    0.68 -3.53%,
    0.11 88.05%,
    1.26 -20.91%,
    0.41 97.41%,
    1.06 66.58%
  );
}
.item:hover {
  background-color: rgb(90, 125, 238);
}
